<nav class="nav">
  <div class="logo">
    <img src="../../../assets/img/logo.png" alt="logo">
  </div>
  <div class="menu">
    <ul class="menu__list">
      <li class="menu__item">
        <div class="menu__icon-box">
          <svg class="menu__icon">
            <use xlink:href="../../../assets/img/sprite.svg#icon-layers "></use>
          </svg>
          <span>Dashboard</span>
        </div>
      </li>
      <li class="menu__item">
        <div class="menu__icon-box">
          <svg class="menu__icon">
            <use xlink:href="../../../assets/img/sprite.svg#icon-profile-male "></use>
          </svg>
          <span class="menu__text">My Profile</span>
        </div>

      </li>
      <li class="menu__item">
        <div class="menu__icon-box">
          <svg class="menu__icon">
            <use xlink:href="../../../assets/img/sprite.svg#icon-browser"></use>
          </svg>
          <span class="menu__text">My Bills</span></div>

      </li>
      <li class="menu__item">
        <div class="menu__icon-box">
          <svg class="menu__icon">
            <use xlink:href="../../../assets/img/sprite.svg#icon-envelope "></use>
          </svg>
          <span class="menu__text">Notification</span>
        </div>
      </li>

    <li class="menu__item">
      <div class="menu__icon-box">
        <svg class="menu__icon">
          <use xlink:href="../../../assets/img/sprite.svg#icon-envelope "></use>
        </svg>
        <span class="menu__text">add bill</span>
      </div>
    </li>

    </ul>
  </div>
</nav>
