
<div class="box">
    <img src="../../../assets/img/logo.png" alt="logo">
    <form action="" >
        <h1>LOGIN</h1>
        <div class="group">      
                <input type="text" required>
                <label>Email</label>
              </div>
              <div class="group">      
                <input type="password" required>
                <label>Password</label>
              </div>
             
         <button class="btn__login">Login</button>
      </form>
      <span>if you don't have a account yet,  <a style="color:var(--logo-color); font-weight: 400; font-size: 1.4rem; cursor: pointer;" routerLink ='/register'> 
         <br>REGISTER HERE</a></span>
</div>
 

